* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.auth__container {
  display: flex;
  height: 100vh;
  width: 100%;
  font-family: 'Fredoka One', sans-serif;

}

/* .auth__wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.auth__image img {
  width: 50%;
  height: auto; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--cian-electrico) 
} 

.auth__wrapper {
  flex: 1;
  background-color: white;
  box-shadow: -10px 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;   
  padding: 2rem;
}

.auth__header h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-align: center;
}

.error {
  color: var(--bold-red);
  margin-bottom: 1rem;
  text-align: center;
}

.auth__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth__form label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-align: center;
}

.auth__form input {
  width: 50%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.auth__button {
  width: 30%;
  border-radius: 1rem;
  color: var(--light-gray);
  padding: 0.5rem 0.7rem;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--cian-electrico);
  margin-top: 3rem;

}

<<<<<<< HEAD
.auth__button:hover { /* TO DO: REVISAR PORQUE NO FUNCIONA EL HOVER */
background-color: var(--magenta-neon);/* var(--mario-orange);  */
=======
.auth__button:hover { /* TO DO: REVISAR POR QUE NO FUNCIONA EL HOVER */
  background-color: var(--mario-orange); 
>>>>>>> origin/playerFix
}

@media (max-width: 768px) {
  .auth__container {
    flex-direction: column;
    height: auto;
  }

  .auth__image {
    order: 0; 
    width: 100%;
    height: auto;
    padding: 0.5rem 0;
    justify-content: center;
    align-items: center;
  }

  .auth__image img {
    width: 70%; 
    height: auto;
  }

  .auth__wrapper {
    order: 1; 
    height: auto;
    padding: 1.5rem;
    box-shadow: none;
    justify-content: center;
    align-items: center;
  }

  /* .auth__header h1 {
    font-size: 1.8rem;
    text-align: center;
<<<<<<< HEAD
  } */
  .auth__header h1 {
=======
  }

   .auth__header h1 {
>>>>>>> origin/playerFix
    font-size: 2rem;
    margin-top: 0;
  }

  .auth__form {
    width: 100%;
    max-width: 400px;
  }

  .auth__form input {
    width: 100%;
    max-width: 100%;
    font-size: 1rem;
  }

  .auth__button {
    width: 100%;
    max-width: 300px;
    font-size: 1rem;
    margin-top: 1.5rem;
  }

  .auth__button:hover { 
    background-color: var(--magenta-neon);
  }
}




