
/* html {
  background-color: var(--background);
  color: var(--text);
} */
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baloo 2', cursive;
}

:root {
  --azul-galaxia: #0D1B2A;  
  --gris-azulado: #1B263B;  
  --magenta-neon: #FF2EB5; 
  --cian-electrico: #08dbc3;  
  --amarillo-neon: #FFEA00;  
  --verde-neon: #00FF9F; 
  --rosa-neon: #FF3865;  

}


