
.home__join__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 50%;
    border-radius: 0.5rem;
    color: var(--azul-galaxia);
    padding: 0.2rem 0.4rem;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--magenta-neon);
    margin-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;;
}

